<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Exercise 2: Create markdown cell with title of the notebook
## H1: Data Science Tools and Ecosystem

# Exercise 2: Create markdown cell with title of the notebook
## H1: Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction
_In this notebook, Data Science Tools and Ecosystem are summarized._

# Exercise 3 - Create a markdown cell for an introduction
_In this notebook, Data Science Tools and Ecosystem are summarized._

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**
* Python
* R
* Julia

# Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**
* Python
* R
* Julia

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages
1. python
2. R
3. Julia

# Exercise 4 - Create a markdown cell to list data science languages
1. python
2. R
3. Julia

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries
1. plotly
2. ggplot
3. scikit_learn

# Exercise 5 - Create a markdown cell to list data science libraries
1. plotly
2. ggplot
3. scikit_learn

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools
| nr | Tools | 
|:--------:|--------|
| 1   | Jupyter |
| 2   | Apache Spark |
| 3   | TensorFlow |

# Exercise 6 - Create a markdown cell with a table of Data Science tools
| nr | Tools |
|:--------:|--------|
| 1   | Jupyter |
| 2   | Apache Spark |
| 3   | TensorFlow |

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### H3: Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [10]:
# Exercise 9 - Create a code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60.
y = 200 / 60
print(round(y,2), "hours")

3.33 hours

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name
## H2 Author
Tim Hoogenboom

# Exercise 11 - Create a markdown cell to indicate the Author's name
## H2 Author
Tim Hoogenboom